body {
    background-image: url(./hdWallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFF;
    height: 100vh;
    overflow-y: hidden;
}

button {
    padding: 10px 12px;
}

.outerContent {
    text-align: center;
}

.innerContent {
    text-align: center;
}

.menuItemTitle {
    font-weight: bolder;
    font-size: 2rem;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem {
    height: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

.menuItems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.breakFastMenuImage {
    background-image: url(./breakfast.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.lunchMenuImage {
    background-image: url(./Lunch.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.dinnerMenuImage {
    background-image: url(./dffStyle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.row {
    
}

.col {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    padding-bottom: 20px;
}
